.main-container-dashboard {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.wrapper-dashboard {
  white-space: nowrap;
  margin-right: 5%;
  margin-left: 5px;
}

.navbar-dashboard {
  z-index: 1;
}
