.main-container-dashboard {
}

.navbar-dashboard {
	z-index: 1;
}

.allChkbx {
	background-color: rgb(27,94,32);
	color: #FFFFFF;
}

.chkbxLabel {
	padding-left: 5px;
	vertical-align: 4px;
}

.email {
	color: #888888;
	font-size: 65%;
}

v-accordion {
	padding-left: 10px;
	padding-right: 10px;
}

v-pane-content {
	padding-bottom: 0px;
}
