<div class="navBardemoBasicUsage" ng-init="initFirst()">
  <md-content class="md-padding">
    <h1>CSC 191 Senior Project Part 2</h1>
    <br>
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-sref="public.191.csc191-course-materials" name="csc191CM">
        Course Materials
      </md-nav-item>
      <md-nav-item md-nav-sref="public.191.csc191-forms" name="csc191FM">
        Forms
      </md-nav-item>
      <md-nav-item md-nav-sref="public.190.csc190-templates" name="csc191TM">
        Templates
      </md-nav-item>
    </md-nav-bar>
    <div ui-view=""></div>
  </md-content>
