<div class="navBardemoBasicUsage" ng-init="initFirst()">
<md-toolbar class="md-theme-light">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Advisors</h2>
      <span flex=""></span>
    </div>
  </md-toolbar>
   <md-button style="float: right;" class="md-primary md-raised" aria-label="Create Advisor" ng-click="showCreate($event)">
      New Advisor
    </md-button>
  <h3 ></h3>
  Filter: 
  <input type="text" ng-model="filter" /> 
  <div class="container-fluid" style="margin-top:20px" ng-controller="AdvisorCtrl">
    <div class="row">
      <div class="col col-12 col-md-auto">
        <div class="panel panel-default panel-table">
          <div class="panel-heading">
            <div class="tr">
              <div class="td" >ID</div>
              <div class="td" align="center">Name</div>
              <div class="td" align="center">Email</div>
              <div class="td" align="center">Edit</div>
              <div class="td" align="center">Delete</div>
            </div>
          </div>
          <div class="panel-body">
            <div class="tr" ng-repeat="a in advisors.advisorNames | filter:filter" ng-init="initFirst()">
              <div class="td">{{ a.advisor_id }}</div>
              <div class="td" >{{ a.name}}</div>
              <div class="td" >{{ a.email }}</div>
             
              <div class="td" align="center"> <md-button class="md-icon-button" ng-click="showEdit($event, a.advisor_id, a.name, a.email)"><i class="material-icons" aria-label="Edit Advisor">edit</i>
              </md-button></div>
              <div class="td" align="center"><md-button class="md-icon-button" ng-click="showDeleteConfirm($event, a.advisor_id)"><i class="material-icons" aria-label="Delete Advisor">delete</i>
              </md-button></div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  

<!-- Create Advisor -->
    
<div class="md-padding dialogdemoBasicUsage" id="popupContainer" ng-cloak="">

  <script type="text/ng-template" id="dialog1.tmpl.html"><md-dialog aria-label="Create Advisor">
    <form name="createForm" ng-cloak>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>New Advisor</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <i class="material-icons" aria-label="Close dialog">clear</i>
          </md-button>
        </div>
      </md-toolbar>

      <md-dialog-content>
        <div class="md-dialog-content">
          <md-form>
            <div layout-align="center center">
            <div layout-padding="">
                <md-input-container>
                  <input placeholder="Name" ng-model="advisor.name" style="min-width: 450px" required>
                </md-input-container>
              </div>
              <div layout-padding="">
                <md-input-container>
                  <input placeholder="Email" ng-model="advisor.email" style="min-width: 450px" required>
                </md-input-container>
              </div>
            </div>
          </md-form>
        </div>
      </md-dialog-content>
      <md-dialog-actions layout="row">
        <md-button class="md-primary md-raised" ng-disabled="createForm.$invalid" ng-click="reloadPage();createadvisor()">
          Create
        </md-button>
      </md-dialog-actions>
    </form>
   </md-dialog>
  </script>
</div>

<!-- Edit Advisor -->

<div class="md-padding dialogdemoBasicUsage" id="popupContainer" ng-cloak="" ng-controller="AdvisorCtrl">

  <script type="text/ng-template" id="dialog2.tmpl.html"><md-dialog aria-label="Edit Advisor">
    <form name="editForm" ng-cloak>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Edit Advisor</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <i class="material-icons" aria-label="Close Dialog">&#xE5CD;</i>
          </md-button>
        </div>
      </md-toolbar>

      <md-dialog-content>
        <div class="md-dialog-content" >
          <md-form>
            <div layout-align="center center">

              <md-content layout-padding="">
                <div>
                  <md-input-container>
                    <label>Name</label>
                    <input ng-model="aname" style="min-width:450px" required>
                  </md-input-container>
                </div>
              </md-content>

              <md-content layout-padding="">
                <div>
                  <md-input-container>
                    <label>Email</label>
                    <input ng-model="aemail" style="min-width:450px" required>
                  </md-input-container>
                </div>
              </md-content>
             
          </md-form>
        </div>
      </md-dialog-content>
      <md-dialog-actions layout="row">
        <md-button class="md-primary md-raised" ng-disabled="editForm.$invalid" ng-click="reloadPage();editadvisor()">
          Save Changes
        </md-button>
      </md-dialog-actions>

    </form>
   </md-dialog>
  </script>
</div>


