<div class="navBardemoBasicUsage" ng-init="initFirst()">
  <md-toolbar class="md-theme-light">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Content Management</h2>
      <span flex=""></span>
    </div>
  </md-toolbar>
  <md-content class="md-padding">
    <md-nav-bar
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-sref="dashboard.content-management.manage-csc190-course-materials" name="csc190CM">
        CSC 190 Course Materials
      </md-nav-item>
      <md-nav-item md-nav-sref="dashboard.content-management.manage-csc190-templates" name="csc190TM">
        CSC 190 Templates
      </md-nav-item>
      <md-nav-item md-nav-sref="dashboard.content-management.manage-csc190-forms" name="csc190FM">
        CSC 190 Forms
      </md-nav-item>
      <md-nav-item md-nav-sref="dashboard.content-management.manage-csc191-course-materials" name="csc191CM">
        CSC 191 Course Materials
      </md-nav-item>
      <md-nav-item md-nav-sref="dashboard.content-management.manage-csc191-templates" name="csc191TM">
        CSC 191 Templates
      </md-nav-item>
      <md-nav-item md-nav-sref="dashboard.content-management.manage-csc191-forms" name="csc191FM">
        CSC 191 Forms
      </md-nav-item>
    </md-nav-bar>
    <div ui-view=""></div>

</md-content>
