<div class="navBardemoBasicUsage" ng-init="initFirst()">
  <md-toolbar class="md-theme-light">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Content Management</h2>
      <span flex=""></span>
    </div>
  </md-toolbar>
  <md-content class="md-padding">
    <md-nav-bar
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-sref="dashboard.content-management.manage-190-content.manage-csc190-course-materials" name="csc190">
        CSC 190
      </md-nav-item>
      <md-nav-item md-nav-sref="dashboard.content-management.manage-191-content.manage-csc191-course-materials" name="csc191">
        CSC 191
      </md-nav-item>
    </md-nav-bar>
    <br>
    <div ui-view=""></div>

</md-content>
