<div class="container bg">
	<h1>Course Materials</h1>
	<br>
	<h3>CSc 190</h3>
	<div class="container-fluid" style="margin-top:20px">
		<div class="row">
			<div class="col col-12 col-md-auto">
				<div class="panel panel-default panel-table">
					<div class="panel-heading">
						<div class="tr">
							<div class="td">Title</div>
							<div class="td">Description</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="tr">
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc190/A%20Code%20of%20Ethics%20for%20Software.pdf">A Code of Ethics for Software</a>
							</div>
							<div class="td">
								
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc190/July_2016-Scrum-Guide-US.pdf">The Scrum Guide<sup>TM</sup></a>
							</div>
							<div class="td">
								The Definitive Guide to Scrum: The Rules of the Game<br>
								Jeff Sutherland & Ken Schwaber, July 2016
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Manifesto%20for%20Agile%20Software%20Development.pdf">Agile Manifesto and Guiding Principles</a>
							</div>
							<div class="td">
								
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Death%20March.pdf">Death March, Edward Yourdon</a>
							</div>
							<div class="td">
								"You can't make teams jell. You can hope they will jell..."
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Establishing%20Self%20Organizing%20Teams.pdf">Establishing Self-Organized Agile Teams</a>
							</div>
							<div class="td">
								
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Collaboration-Skills_AgileTeams.pdf">Collaboration Skills for Agile Teams</a>
							</div>
							<div class="td">
								
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Self-Orgainzing-Scrum-teams.pdf">Self-organizing Scrum teams - Challenges and Strategies</a>
							</div>
							<div class="td">
								
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Use-cases-vs-user-stories.pdf">Use cases vs user stories in Agile development</a>
							</div>
							<div class="td">
								
							</div>
						</div>
						<div class="tr">
							<div class="td">
								User Stories Applied: For Agile Software Development, Mike Cohn
							</div>
							<div class="td">
								<a href="http://athena.ecs.csus.edu/%7Ebuckley/CSc191/Chapter%201%20An%20Overview.pdf">Chapter 1: An Overview</a><br>
								<a href="http://athena.ecs.csus.edu/%7Ebuckley/CSc191/Chapter%202%20Writing%20Stories.pdf">Chapter 2: Writing Stories</a>
							</div>
						</div>
						<div class="tr">
							<div class="td">
								Interaction Design
							</div>
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc190/What%20is%20wireframing.pdf">What is wireframing?</a><br>
								<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Wireframing.pdf">Wireframing</a><br>
								<a href="athena.ecs.csus.edu/~buckley/CSc190/What%20is%20a%20Wireframe.mp4">What is a wireframe?</a><br>
								<a href="athena.ecs.csus.edu/~buckley/CSc190/Wireframing%20for%20UX%20What%20it%20is%20and%20how%20to%20get%20better%20at%20it.mp4">Wireframing for UX: What is it and how to get better at it</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<h3>CSc 191</h3>
	<div class="container-fluid" style="margin-top:20px">
		<div class="row">
			<div class="col col-12 col-md-auto">
				<div class="panel panel-default panel-table">
					<div class="panel-heading">
						<div class="tr">
							<div class="td">Title</div>
							<div class="td">Description</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="tr">
							<div class="td">
								<a href="">Place Holder Title</a>
							</div>
							<div class="td">
								Place Holder Description
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<a href="">Place Holder Title</a>
							</div>
							<div class="td">
								Place Holder Description
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
