<h1>Course Materials</h1><br>

<h2 class="course">CSc 190</h2>
	<h3 class="content">A Code of Ethics for Software (<a href="http://athena.ecs.csus.edu/~buckley/CSc190/A%20Code%20of%20Ethics%20for%20Software.pdf">pdf</a>)</h3>
	<h3 class="content">Student Survey (<a href="http://athena.ecs.csus.edu/~buckley/CSc190/190Survey.pdf">pdf</a>)</h3>
		<p class="description">Please complete the survey and bring it to our first class meeting.</p>
	<h3 class="content">Senior Project Proposal for Teams and Potential Clients (<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Senior-Project-Proposals.pdf">pdf</a>)</h3>
		<p class="description">Teams that have identified a potential client will still need to provide the client with this proposal document and have the client prepare and submit their "Project Proposal" for approval.</p>
	<h3 class="content">The Scrum Guide<sup>TM</sup> (<a href="http://athena.ecs.csus.edu/~buckley/CSc190/July_2016-Scrum-Guide-US.pdf">pdf</a>)</h3>
		<p class="description">The Definitive Guide to Scrum: The Rules of the Game<br>
		Jeff Sutherland & Ken Schwaber, July 2016</p>
	<h3 class="content">Agile Manifesto and Guiding Principles (<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Manifesto%20for%20Agile%20Software%20Development.pdf">pdf</a>)</h3>
	<h3 class="content"><span style="color:#C00000">Death March</span>, Edward Yourdon (excerpt) (<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Death%20March.pdf">pdf</a>)</h3>
		<p class="description">"You can't make teams jell. You can hope they will jell..."</p>
	<h3 class="content">Establishing Self-Organized Agile Teams (<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Establishing%20Self%20Organizing%20Teams.pdf">pdf</a>)</h3>
	<h3 class="content">Collaboration Skills for Agile Teams (<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Collaboration-Skills_AgileTeams.pdf">pdf</a>)</h3>
	<h3 class="content">Self-organizing Scrum teams - Challenges and Strategies (<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Self-Orgainzing-Scrum-teams.pdf">pdf</a>)</h3>
	<h3 class="content">Use cases vs user stories in Agile development (<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Use-cases-vs-user-stories.pdf">pdf</a>)</h3>
	<h3 class="content">User Stories Applied: For Agile Software Development, Mike Cohn</h3>
		<p class="description">Chapter 1: An Overview (<a href="http://athena.ecs.csus.edu/%7Ebuckley/CSc191/Chapter%201%20An%20Overview.pdf">pdf</a>)<br>
		Chapter 2: Writing Stories (<a href="http://athena.ecs.csus.edu/%7Ebuckley/CSc191/Chapter%202%20Writing%20Stories.pdf">pdf</a>)</p>
	<h3 class="content" style="color:#C00000">Interaction Design</h3>
		<p class="description">What is wireframing? (<a href="http://athena.ecs.csus.edu/~buckley/CSc190/What%20is%20wireframing.pdf">pdf</a>)<br>
		Wireframing (<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Wireframing.pdf">pdf</a>)<br>
		What is a wireframe? (<a href="athena.ecs.csus.edu/~buckley/CSc190/What%20is%20a%20Wireframe.mp4">mp4</a>)<br>
		Wireframing for UX: What is it and how to get better at it (<a href="athena.ecs.csus.edu/~buckley/CSc190/Wireframing%20for%20UX%20What%20it%20is%20and%20how%20to%20get%20better%20at%20it.mp4">mp4</a>)</p>
<h2 class="course">CSc 191</h2>
