<div class="container bg">
	<h1>Forms</h1>
	<br>
	<h3>CSc 190</h3>
	<div class="container-fluid" style="margin-top:20px">
		<div class="row">
			<div class="col col-12 col-md-auto">
				<div class="panel panel-default panel-table">
					<div class="panel-heading">
						<div class="tr">
							<div class="td">Form</div>
							<div class="td">Description</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="tr">
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc190/190Survey.pdf">190 Survey</a>
							</div>
							<div class="td">
								Please complete the survey and bring it to our first class meeting.
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Senior-Project-Proposals.pdf">Project Proposal</a>
							</div>
							<div class="td">
								Senior Project Proposal for Teams and Potential Clients. Teams that have identified a potential client will still need to provide the client with this proposal document and have the client prepare and submit a their “Project Proposal” for approval.
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Stylemnl.pdf">Writing Guidelines</a>
							</div>
							<div class="td">
								Guidelines for writing technical documents.
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Product-Charter-Approval-Form.docx">Project Charter Approval</a>
							</div>
							<div class="td">
								Approval form for the project charter.
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Product-Backlog-Approval-Form.docx">Product Backlog Approval</a>
							</div>
							<div class="td">
								Approval form for the product backlog.
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<a href="athena.ecs.csus.edu/~buckley/CSc190/Document%20Approval%20Form.docx">Document Approval Form</a>
							</div>
							<div class="td">
								Approval form for a document
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<h3>CSc 191</h3>
	<div class="container-fluid" style="margin-top:20px">
		<div class="row">
			<div class="col col-12 col-md-auto">
				<div class="panel panel-default panel-table">
					<div class="panel-heading">
						<div class="tr">
							<div class="td">Form</div>
							<div class="td">Description</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="tr">
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc191/191Survey.pdf">191 Survey</a>
							</div>
							<div class="td">
								Please complete the survey and bring it to our first class meeting.
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc191/User-Manual-Approval-Form.docx">User Manual Approval</a>
							</div>
							<div class="td">
								Approval form for the user manual.
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc191/System-Test-Document.docx">System Test Report</a>
							</div>
							<div class="td">
								
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc191/System-Test-Report-Document-Approval-Form.docx">System Test Report Approval</a>
							</div>
							<div class="td">
								Form to approve the system test report document.
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc191/Maintenance-Manual.docx">Maintenance Manual</a>
							</div>
							<div class="td">
								Guide describing how to maintain the project in the future.
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc191/Maintenance-Manual-Approval-Form.docx">Maintenance Manual Approval</a>
							</div>
							<div class="td">
								Form to approve the maintenance manual.
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc191/DeliveryLetter-Draft.docx">Client Delivery Acceptance</a>
							</div>
							<div class="td">
								Form for the client to accept the project.
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc191/191-TeamPerformanceEval.pdf">Individual Team Performance Evaluation</a>
							</div>
							<div class="td">
								Form to evaluate team member's individual performance.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
