<h1>FORMS</h1>
<br>
<h3>CSC 190</h3>
 <div class="container-fluid" style="margin-top:40px"><div class="row">
 	<div class="col col-12 col-md-auto">

<div class="panel panel-default panel-table">
    <div class="panel-heading">
        <div class="tr">
            <div class="td">Form</div>
            <div class="td">Description</div>
        </div>
    </div>
    <div class="panel-body">
        <div class="tr">
            <div class="td">
            	<a href="http://athena.ecs.csus.edu/~buckley/CSc190/190Survey.pdf">190 Survey</a>
            </div>
            <div class="td">
            	Please complete the survey and bring it to our first class meeting.
            </div>
        </div>
        <div class="tr">
        	<div class="td">
            	<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Senior-Project-Proposals.pdf">Project Proposal</a>
            </div>
            <div class="td">
            	Senior Project Proposal for Teams and Potential Clients. Teams that have identified a potential client will still need to provide the client with this proposal document and have the client prepare and submit a their “Project Proposal” for approval.
            </div>
        </div>
    </div>
</div>

</div></div></div>

<br>
<h3>CSC 191</h3>
 <div class="container-fluid" style="margin-top:40px"><div class="row">
 	<div class="col col-12 col-md-auto">

<div class="panel panel-default panel-table">
    <div class="panel-heading">
        <div class="tr">
            <div class="td">Form</div>
            <div class="td">Description</div>
        </div>
    </div>
    <div class="panel-body">
        <div class="tr">
            <div class="td">
            	<a href="http://athena.ecs.csus.edu/~buckley/CSc190/190Survey.pdf">190 Survey</a>
            </div>
            <div class="td">
            	Please complete the survey and bring it to our first class meeting.
            </div>
        </div>
        <div class="tr">
        	<div class="td">
            	<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Senior-Project-Proposals.pdf">Project Proposal</a>
            </div>
            <div class="td">
            	Senior Project Proposal for Teams and Potential Clients. Teams that have identified a potential client will still need to provide the client with this proposal document and have the client prepare and submit a their “Project Proposal” for approval.
            </div>
        </div>
    </div>
</div>

</div></div></div>