<header class="intro-header">
  <div class="container">
    <div class="intro-message">
      <h1>Senior Project</h1>
      <h3></h3>
      <hr class="intro-divider">
    </div>
  </div>
</header>

<div class="container bg">
    <div class="row">
      <div class="col-sm-8">
        <h3>Welcome to Senior Project!</h3>
      </div>
      <div class="col-sm-4">
          <div class="calloutbox">
            <h4 style="text-align:center;">Senior Project: Part 1</h4>
            <p style="text-align: center;">CSc 190-01 (8:00 AM Tuesday)</p>
            <p style="text-align: center;">CSc 190-04 (9:00 AM Tuesday)</p>
            <p style="text-align: center;">Riverside Hall 1049</p>
        </div>
          <div class="calloutbox">
            <h4 style="text-align:center;">Senior Project: Part 2</h4>
            <p style="text-align: center;">CSc 191-01 (8:00 AM Thursday)</p>
            <p style="text-align: center;">CSc 191-04 (9:00 AM Thursday)</p>
            <p style="text-align: center;">Riverside Hall 1013</p>
          </div>
      </div>
    </div>
</div>