<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron upper">
  <div class="container">
      <h2 style="color:#727272">College of ECS</h2>
      <h1>Department of Computer Science</h2>
  </div>
</div>

<!-- Header -->
<header class="intro-header">
  <div class="container">
    <div class="intro-message">
      <h1>Senior Project</h1>
      <h3></h3>
      <hr class="intro-divider">
      <ul class="list-inline intro-social-buttons">
        <li class="list-inline-item">
          <a href="#" class="btn btn-secondary btn-lg">
            <i class="fa fa-twitter fa-fw"></i>
            <span class="network-name">Twitter</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="btn btn-secondary btn-lg">
            <i class="fa fa-github fa-fw"></i>
            <span class="network-name">Github</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="btn btn-secondary btn-lg">
            <i class="fa fa-linkedin fa-fw"></i>
            <span class="network-name">Linkedin</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

<div class="navbar navbar-default" role="navigation">
  <div class="container">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">

      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a ng-href="/course-materials">Course Materials</a></li>
      </ul>
  </div>
</div>

<div class="page-layout">
<div class="container bg">

  <div class="container">
    <div class="calloutbox">
      <h3 style="text-align:center;">Schedule</h3>
      <p style="text-align: center;">Two Tenture Track positions coming soon. TBA</p>
    </div>
  </div>

  <div class="container">
    <div class="calloutbox">
      <h3 style="text-align:center;">Schedule</h3>
      <p style="text-align: center;">Two Tenture Track positions coming soon. TBA</p>
    </div>
  </div>

  <div class="container">


    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>

    </div>

    <hr>
  </div> <!-- /container -->
  <div class="container">

    <div class="row users">

      <div class="col-sm-6">
        <ul>
          <li ng-repeat="user in main.awesomeUsers track by user._id">
            {{user.email}}
          </li>
        </ul>
      </div>

      <div class="col-sm-4">
        <div class="container">
          <div class="calloutbox">
            <h3 style="text-align:center;">Schedule</h3>
            <p style="text-align: center;">Two Tenture Track positions coming soon. TBA</p>
          </div>
        </div>

        <div class="container">
          <div class="calloutbox">
            <h3 style="text-align:center;">Schedule</h3>
            <p style="text-align: center;">Two Tenture Track positions coming soon. TBA</p>
          </div>
        </div>
      </div>

      <div class="col-sm-2">
      </div>


    </div>

    <div class="row marketing">
      <h4>Testing 1, 2, 3</h4>
      <p>
        This is some cool branch.
      </p>

      <h4>Angular</h4>
      <p>
        AngularJS seems good.
      </p>

      <h4>Karma</h4>
      <p>We can use Karma if we decide we want to use Unit tests, it came with the scaffolding.</p>
    </div>
  </div>
</div>
</div>

<div class="jumbotron lower">

    <div class="container">
      <img src="images/Primary_Horizontal_White_tag.png" alt="Sac State"><br>
        <p>Welcome to Senior Project</p>
        <p>Hope you will have fun</p>
        <p>We are here to help</p>
    </div>
</div>
