<header class="intro-header">
	<div class="container">
		<div class="intro-message">
			<h1>Senior Project</h1>
			<h3></h3>
			<hr class="intro-divider">
		</div>
	</div>
</header>

<div class="container bg">
	<div class="row">
		<div class="col-sm-12">
			<h3>Welcome to Senior Project!</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<h4>What is Senior Project?</h4>
			<p>Undergraduate students must complete Senior Project, which requires them to solve real problems for real customers, as well as working as part of a team. Students work with the customer to determine the requirements of the project and then develop a system to meet those requirements. In the process, each team creates a project proposal, project management plan, a requirements specification, a design document, a test plan, a testing report, and a maintenance document. In addition, each team gives various oral presentations during their project.</p>
			<p>Senior Project is frequently mentioned by industry leaders as one of the most valuable aspects of our students' education. In site visits to prominent companies, we are told repeatedly that our graduates can "hit the ground running," and are more versatile than graduates from many prestigious institutions.</p>
            <br>
            <br>
			<h4>CSc 190: Senior Project - Part I</h4>
			<p>The first of a two-course sequence in which student teams undertake a project to develop and deliver a software product. Approved project sponsors must be from industry, government, a non-profit organization, or other area. Teams apply software engineering principles in the preparation of a software proposal, a project management plan and a software requirements specification. All technical work is published using guidelines modeled after IEEE documentation standards. Oral and written reports are required.</p>
            <br>
            <br>
			<h4>CSc 191: Senior Project - Part II</h4>
			<p>Teams apply software engineering principles to the design, implementation and testing of their software product. All technical work is published using guidelines modeled after IEEE documentation standards along with an appropriate user manual. Oral and written reports are required. Senior project is completed with the successful delivery, installation and demonstration of the software along with all approved documentation.</p>
		</div>
		<div class="col-sm-4">
			<div class="calloutbox">
				<h4 style="text-align:center;">Senior Project - Part I</h4>
				<p style="text-align: center;">CSc 190-01 (8:00 AM Tuesday)</p>
				<p style="text-align: center;">CSc 190-04 (9:00 AM Tuesday)</p>
				<p style="text-align: center;">Riverside Hall 1049</p>
			</div>
			<div class="calloutbox">
				<h4 style="text-align:center;">Senior Project - Part II</h4>
				<p style="text-align: center;">CSc 191-01 (8:00 AM Thursday)</p>
				<p style="text-align: center;">CSc 191-04 (9:00 AM Thursday)</p>
				<p style="text-align: center;">Riverside Hall 1013</p>
			</div>
		</div>
	</div>
</div>
