    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <top-banner>
      <div class="navbar navbar-default navbar-static-top" role="navigation">
       <div class="container">
       <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">  
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
       </div>
       <div class="navbar-collapse collapse" id="nav_bar">
         <ul class="nav navbar-nav navbar-right" style="font-size: 17px;">
            <li><a ui-sref="public.main" class="active-page">Home</a></li>
            <li class="dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">CSC 190<b class="caret"></b></a>
              <ul class="dropdown-menu">
              <li style="font-size: 17px;"><a ui-sref="public.course-materials">Course Materials</a></li>
              <li class="divider"></li>
              <li style="font-size: 17px;"><a ui-sref="public.forms">Forms</a></li>
              <li class="divider"></li>
              <li style="font-size: 17px;"><a ui-sref="public.templates">Templates</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">CSC 191<b class="caret"></b></a>
              <ul class="dropdown-menu">
             
              <li style="font-size: 17px;"><a ui-sref="public.course-materials">Course Materials</a></li>
              <li class="divider"></li>
              <li style="font-size: 17px;"><a ui-sref="public.forms">Forms</a></li>
              <li class="divider"></li>
              <li style="font-size: 17px;"><a ui-sref="public.templates">Templates</a></li>
              </ul>
            </li>
            <li><a ui-sref="dashboard.team-management">Dashboard</a></li>
             <li><a ui-sref="login">Login</a></li>
         </ul>
       </div>
      </div>
        </div>

      <div id="wrapper">

   <!--    <div class="navbar navbar-default" role="navigation"> -->
        <header>
            <div class="container clearfix">
                <h2 id="logo">
                  College of ECS
                </h2>
                <h1 id="logo">
                  Department of Computer
                </h1>
                <h1 id="logo">
                  Science
                </h1>
             <!--  <nav>
              <a ui-sref="public.main">Home</a>
              <a ui-sref="public.course-materials">Course Materials</a>
              <a ui-sref="public.templates">Templates</a>
              <a ui-sref="public.forms">Forms</a>
              <a ui-sref="dashboard.team-management">Dashboard</a>
              <a ui-sref="login">Login</a>
            </nav> -->
            </div>
        </header>
<!--       </div> -->
      </div>
    </top-banner>
    
     
      <div id="main">
        <div id="content">
          <div class="container main-container">
              <div ui-view=""></div>
      </div>
      </div>
      </div>
            
    <div class="jumbotron lower">
      <div class="container">
      <img src="images/Primary_Horizontal_White_tag.png" alt="Sac State"><br>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p><i style="color:red" class="fa fa-heart footer-info"></i > Team C Hex!</p>
      </div>
    </div>


