    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

        <top-banner>
      <div id="wrapper">

   <!--    <div class="navbar navbar-default" role="navigation"> -->
        <header>
            <div class="container clearfix">
                <h2 id="logo">
                  College of ECS
                </h2>
                <h1 id="logo">
                  Department of Computer
                </h1>
                <h1 id="logo">
                  Science
                </h1>
             <!--  <nav>
              <a ui-sref="public.main">Home</a>
              <a ui-sref="public.190.csc190-course-materials">CSC 190</a>
              <a ui-sref="public.191.csc191-course-materials">CSC 191</a>
              <a ui-sref="dashboard.team-management">Dashboard</a>
              <a ui-sref="login">Login</a>
            </nav> -->
            </div>
        </header>
<!--       </div> -->
      </div>
    </top-banner>


      <div id="main">
        <div id="content">
          <div class="container main-container">
              <div ui-view=""></div>
      </div>
      </div>
      </div>

    <div class="jumbotron lower">
      <div class="container">
      <img src="images/Primary_Horizontal_White_tag.png" alt="Sac State"><br>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p><i style="color:red" class="fa fa-heart footer-info"></i > Team C Hex!</p>
      </div>
    </div>
