<h3>Students</h3>
New Student:
<br>
<div>
  <form novalidate class="simple-form">
	<label>Name: <input type="text" ng-model="new_student.name" /></label><br />
	<label>E-mail: <input type="email" ng-model="new_student.email" /></label><br />
	<input type="submit" ng-click="addstudent(new_student)" value="Save" />
  </form>
  <!--<pre>new_student = {{new_student | json}}</pre>-->
</div>
<br><br>
<input type="file" file-model="myFile"/>
<button ng-click="upload()">Upload</button>
<br><br>
Filter:
<input type="text" ng-model="filter" />
<div class="container-fluid" style="margin-top:20px">
	<div class="row">
		<div class="col col-12 col-md-auto">
			<div class="panel panel-default panel-table">
				<div class="panel-heading">
					<div class="tr">
						<div class="td">Name</div>
						<div class="td">Email</div>
						<div class="td">Team</div>
						<div class="td"></div>
						<div class="td"></div>
					</div>
				</div>
				<div class="panel-body">
					<div class="tr" ng-repeat="s in students.studentNames | filter:filter">
						<div class="td">
							<span ng-hide="editMode">{{ s.name }}</span>
							<input type="text" ng-show="editMode" ng-model="s.name" ng-required />
						</div>
						<div class="td">
							<span ng-hide="editMode">{{ s.email }}</span>
							<input type="text" ng-show="editMode" ng-model="s.email" ng-required />
						</div>
						<div class="td">
							{{ s.team }}
						</div>
						<div class="td">
							<button type="submit" ng-hide="editMode" ng-click="editMode = true; edit(s)" class="btn btn-default">Edit</button>
							<button type="submit" ng-show="editMode" ng-click="editMode = false; editstudent(s)" class="btn btn-default">Save</button>
							<button type="submit" ng-show="editMode" ng-click="editMode = false; cancel()" class="btn btn-default">Cancel</button>
						</div>
						<div class="td">
							<button ng-click="deletestudent(s._id)" class="btn btn-default">
								Delete
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
