<nav class="navbar navbar-default navbar-static-top navbar-dashboard">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
              Administrator
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" method="GET" role="search">
        <div class="form-group">
          <input type="text" name="q" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn btn-success"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/dashboard">Dashboard Home</a></li>
        <li><a href="#/team-management">Team Management</a></li>
        <li><a href="#/students">Student Management</a></li>
        <li class="dropdown ">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Account
            <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown-header">SETTINGS</li>
              <li class=""><a href="#">Other Link</a></li>
              <li class=""><a href="#">Other Link</a></li>
              <li class=""><a href="#">Other Link</a></li>
              <li class="divider"></li>
            </ul>
          </li>
            <li><a ng-click="logout()" href="">Logout</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container-fluid main-container-dashboard">
    <div class="col-md-2 sidebar">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">Home</a></li>
        <li><a ng-click="tbgen()" id="tbgen" name="tbgen" href="">Create Sprint Task Boards <i class="fa fa-object-group" aria-hidden="true"></i></a></li>
        <li><a ng-click="tbdel()" id="tbgen" name="tbgen" href="">Delete Sprint Task Boards <i class="fa fa-object-group" aria-hidden="true"></i></a></li>
        <li><a href="#">Some other link</a></li>
        <li><a ng-click="logout()" href="">Logout</a></li>
      </ul>
    </div>

<div class="col-md-10 content">

<div class="navBardemoBasicUsage">
  <md-toolbar class="md-theme-light">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Team Management</h2>
      <span flex=""></span>
      <md-button style="color:#C4B581"class="md-primary md-raised" aria-label="Create Team" ng-click="showAdvanced($event)">
        Create Team
      </md-button>
    </div>
  </md-toolbar>

  <div class="md-padding">
    <md-subheader class="md-primary md-no-sticky">CSc 190 Teams</md-subheader>
    <md-divider></md-divider>
    <!-- add `multiple` attribute to allow multiple sections to open at once -->

      <md-list flex="">
        <md-list-item ng-repeat="team in teamNames | filter: { course: '190' }">
          <v-accordion class="vAccordian--default" multiple>
            <v-pane expanded="pane.toggle">
              <v-pane-header>
                <h5 md-ink-ripple="#C4B581"><b>{{team.name}}</b></h5>
              </v-pane-header>
              <v-pane-content>
                <div class="md-list-item-text" layout="column">
                  <p><b>Faculty Advisor:</b> {{item.advisor}} - {{item.advisoremail}}</p>
                  <p><b>Client:</b> {{item.clientname}} - {{item.clientemail}}</p>

                  <p><b>Team Members</b></p>

                  <p ng-repeat="item in members">
                    {{item.member}} - {{item.email}}
                  </p ng-if="!$last">
                  <md-divider></md-divider>
                </div>
              </v-pane-content>
            </v-pane>
          </v-accordion>
        </md-list-item ng-if="!$last">
      </md-list>

    <md-subheader class="md-primary">CSc 191 Teams</md-subheader>
    <md-divider></md-divider>
    <md-list flex="">
      <md-list-item ng-repeat="team in teamNames | filter: { course: '191' }">
        <v-accordion class="vAccordian--default" multiple>
          <v-pane expanded="pane.toggle">
            <v-pane-header>
              <h5 md-ink-ripple="#C4B581"><b>{{team.name}}</b></h5>
            </v-pane-header>
            <v-pane-content>
              <div class="md-list-item-text" layout="column">
                <p><b>Faculty Advisor:</b> {{item.advisor}} - {{item.advisoremail}}</p>
                <p><b>Client:</b> {{item.clientname}} - {{item.clientemail}}</p>

                <p><b>Team Members</b></p>

                <p ng-repeat="item in members">
                  {{item.member}} - {{item.email}}
                </p ng-if="!$last">
                <md-divider></md-divider>
              </div>
            </v-pane-content>
          </v-pane>
        </v-accordion>
      </md-list-item ng-if="!$last">
    </md-list>
    <md-subheader class="md-primary">Retired Teams</md-subheader>
    <md-divider></md-divider>
  </div>

  <md-content class="md-padding">
    <md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-click="goto('page1')" name="page1">
        Page One
      </md-nav-item>
      <md-nav-item md-nav-click="goto('page2')" name="page2">
        Page Two
      </md-nav-item>
      <md-nav-item md-nav-click="goto('page3')" name="page3">
        Page Three
      </md-nav-item>
    </md-nav-bar>
    <div class="ext-content">
      External content for '<span>{{currentNavItem}}</span>'.
    </div>

    <md-checkbox ng-model="disableInkBar">Disable Ink Bar</md-checkbox>

  </md-content>

  <div layout="column" layout-align="center center">
    <md-select placeholder="Student" ng-model="student" md-on-open="loadStudents()" style="min-width: 200px">
      <md-option ng-value="student" ng-repeat="student in studentNames">{{student.name}}</md-option>
    </md-select>
    <p class="md-caption">Selected the student: {{ student ? student.name : 'No one yet' }}</p>
  </div>
  <div layout="column" layout-align="center center">
    <md-select placeholder="Team" ng-model="team" md-on-open="loadTeams()" style="min-width: 200px">
      <md-option ng-value="team" ng-repeat="team in teamNames">{{team.name}}</md-option>
    </md-select>
    <p class="md-caption">Selected the team: {{ team ? team.name : 'No one yet' }}</p>
  </div>

</div>
</div>
</div>
