<div class="navBardemoBasicUsage">
  <md-toolbar class="md-theme-light">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Team Management</h2>
      <span flex=""></span>
      <md-button style="color:#C4B581"class="md-primary md-raised" aria-label="Create Team" ng-click="showAdvanced($event)">
        Create Team
      </md-button>
    </div>
  </md-toolbar>

  <div class="md-padding">
    <md-subheader class="md-primary md-no-sticky">CSc 190 Teams</md-subheader>
    <md-divider></md-divider>
    <!-- add `multiple` attribute to allow multiple sections to open at once -->

      <md-list flex="">
        <md-list-item ng-repeat="team in teamList" ng-if="team.course === '190'">
          <v-accordion class="vAccordian--default" multiple>
            <v-pane expanded="pane.toggle">
              <v-pane-header>
                <h5 md-ink-ripple="#C4B581">{{team.name}}</h5>
              </v-pane-header>
              <v-pane-content>
                <div class="md-list-item-text" layout="column">
                  <p ng-repeat="advisor in advisorList" ng-repeat="team in teamList" ng-if="advisor.advisor_id === team.advisor">Faculty Advisor: {{advisor.name}} - {{advisor.email}}</p>
                  <p ng-repeat="client in clientList" ng-repeat="team in teamList" ng-if="client.client_id === team.client">Client: {{client.name}} - {{client.email}}</p>

                  <p>Team Members</p>

                  <p ng-repeat="student in studentList" ng-repeat="team in teamList" ng-if="student.team == team.team_id">
                    {{student.name}} - {{student.email}}
                  </p ng-if="!$last">
                  <md-divider></md-divider>
                </div>
              </v-pane-content>
            </v-pane>
          </v-accordion>
        </md-list-item ng-if="!$last">
      </md-list>

    <md-subheader class="md-primary">CSc 191 Teams</md-subheader>
    <md-divider></md-divider>
    <md-list flex="">
      <md-list-item ng-repeat="team in teamList" ng-if="team.course === '191'">
        <v-accordion class="vAccordian--default" multiple>
          <v-pane expanded="pane.toggle">
            <v-pane-header>
              <h5 md-ink-ripple="#C4B581">{{team.name}}</h5>
            </v-pane-header>
            <v-pane-content>
              <div class="md-list-item-text" layout="column">
                <p ng-repeat="advisor in advisorList" ng-repeat="team in teamList" ng-if="advisor.advisor_id === team.advisor">Faculty Advisor: {{advisor.name}} - {{advisor.email}}</p>
                <p ng-repeat="client in clientList" ng-repeat="team in teamList" ng-if="client.client_id === team.client">Client: {{client.name}} - {{client.email}}</p>

                <p>Team Members</p>

                <p ng-repeat="student in studentList" ng-repeat="team in teamList" ng-if="student.team === team.team_id">
                  {{student.name}} - {{student.email}}
                </p ng-if="!$last">
                <md-divider></md-divider>
              </div>
            </v-pane-content>
          </v-pane>
        </v-accordion>
      </md-list-item ng-if="!$last">
    </md-list>
    <md-subheader class="md-primary">Retired Teams</md-subheader>
    <md-divider></md-divider>
  </div>

  <md-content class="md-padding">
    <md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-click="goto('page1')" name="page1">
        Page One
      </md-nav-item>
      <md-nav-item md-nav-click="goto('page2')" name="page2">
        Page Two
      </md-nav-item>
      <md-nav-item md-nav-click="goto('page3')" name="page3">
        Page Three
      </md-nav-item>
    </md-nav-bar>
    <div class="ext-content">
      External content for '<span>{{currentNavItem}}</span>'.
    </div>

    <md-checkbox ng-model="disableInkBar">Disable Ink Bar</md-checkbox>

  </md-content>

  <div layout="column" layout-align="center center">
    <md-select placeholder="Student" ng-model="student" md-on-open="loadStudents()" style="min-width: 200px">
      <md-option ng-value="student" ng-repeat="student in studentList">{{student.name}}</md-option>
    </md-select>
    <p class="md-caption">Selected the student: {{ student ? student.name : 'No one yet' }}</p>
  </div>
  <div layout="column" layout-align="center center">
    <md-select placeholder="Team" ng-model="team" md-on-open="loadTeams()" style="min-width: 200px">
      <md-option ng-value="team" ng-repeat="team in teamList">{{team.name}}</md-option>
    </md-select>
    <p class="md-caption">Selected the team: {{ team ? team.name : 'No one yet' }}</p>
  </div>
  <div layout="column" layout-align="center center">
    <md-select placeholder="Client" ng-model="client" md-on-open="loadClients()" style="min-width: 200px">
      <md-option ng-value="client" ng-repeat="client in clientList">{{client.name}}</md-option>
    </md-select>
    <p class="md-caption">Selected the client: {{ client ? client.name : 'No one yet' }}</p>
  </div>
  <div layout="column" layout-align="center center">
    <md-select placeholder="Advisor" ng-model="advisor" md-on-open="loadAdvisors()" style="min-width: 200px">
      <md-option ng-value="advisor" ng-repeat="advisor in advisorList">{{advisor.name}}</md-option>
    </md-select>
    <p class="md-caption">Selected the advisor: {{ advisor ? advisor.name : 'No one yet' }}</p>
  </div>

</div>
