<h1>TEMPLATES</h1>
<br>
<!-- add `multiple` attribute to allow multiple sections to open at once -->
<v-accordion class="vAccordion--default accordion" multiple>

  <v-pane>
    <v-pane-header>
      <h3>Project Charter</h3>
    </v-pane-header>
      <v-pane-content>
        This is where a brief description of the template can be found. This should be able to be edited. Items should be able to be added and removed from this list easily. After this description there should be a download link for the document.
        <br>
        <v-pane>
          <v-pane-header>
            <h4>Download</h4>
          </v-pane-header>
            <v-pane-content>
              <a href="http://athena.ecs.csus.edu/~buckley/CSc190/Poject_Charter_Template.pdf">pdf</a>
              <a href="http://athena.ecs.csus.edu/~buckley/CSc190/Poject_Charter_Template.docx">docx</a>
            </v-pane-content>
        </v-pane>
      </v-pane-content>
  </v-pane>
  
  <v-pane>
    <v-pane-header>
      <h3>Product Backlog Document</h3>
    </v-pane-header>
      <v-pane-content>
        This is where a brief description of the template can be found. This should be able to be edited. Items should be able to be added and removed from this list easily. After this description there should be a download link for the document.
        <br>
        <v-pane>
          <v-pane-header>
            <h4>Download</h4>
          </v-pane-header>
            <v-pane-content>
              <a href="http://athena.ecs.csus.edu/~buckley/CSc190/Product%20Backlog%20Document.pdf">pdf</a>
              <a href="http://athena.ecs.csus.edu/~buckley/CSc190/Product%20Backlog%20Document.pdf">docx</a>
            </v-pane-content>
        </v-pane>
      </v-pane-content>
  </v-pane>
  
  <v-pane>
    <v-pane-header>
      <h3>Sprint Task Board 190</h3>
    </v-pane-header>
      <v-pane-content>
        This is where a brief description of the template can be found. This should be able to be edited. Items should be able to be added and removed from this list easily. After this description there should be a download link for the document.
        <br>
        <v-pane>
          <v-pane-header>
            <h4>Download</h4>
          </v-pane-header>
            <v-pane-content>
              <a href="http://athena.ecs.csus.edu/~buckley/CSc190/Poject_Charter_Template.pdf">pdf</a>
              <a href="http://athena.ecs.csus.edu/~buckley/CSc190/Poject_Charter_Template.docx">docx</a>
            </v-pane-content>
        </v-pane>
      </v-pane-content>
  </v-pane>
  
  <v-pane>
    <v-pane-header>
      <h3>Team Sprint Task Board 191</h3>
    </v-pane-header>
      <v-pane-content>
        This is where a brief description of the template can be found. This should be able to be edited. Items should be able to be added and removed from this list easily. After this description there should be a download link for the document.
        <br>
        <v-pane>
          <v-pane-header>
            <h4>Download</h4>
          </v-pane-header>
            <v-pane-content>
              <a href="http://athena.ecs.csus.edu/~buckley/CSc191/Team-Task-Boards">folder</a>
            </v-pane-content>
        </v-pane>
      </v-pane-content>
  </v-pane>
  
  <v-pane>
    <v-pane-header>
      <h3>Product Backlog (Sprint Report)</h3>
    </v-pane-header>
      <v-pane-content>
        This is where a brief description of the template can be found. This should be able to be edited. Items should be able to be added and removed from this list easily. After this description there should be a download link for the document.
        <br>
        <v-pane>
          <v-pane-header>
            <h4>Download</h4>
          </v-pane-header>
            <v-pane-content>
              <a href="http://athena.ecs.csus.edu/~buckley/CSc191/Product-Backlog.xlsx">xlsx</a>
            </v-pane-content>
        </v-pane>
      </v-pane-content>
  </v-pane>
  
   <v-pane>
    <v-pane-header>
      <h3>Faculty Adviser Meeting</h3>
    </v-pane-header>
      <v-pane-content>
        This is where a brief description of the template can be found. This should be able to be edited. Items should be able to be added and removed from this list easily. After this description there should be a download link for the document.
        <br>
        <v-pane>
          <v-pane-header>
            <h4>Download</h4>
          </v-pane-header>
            <v-pane-content>
              <a href="http://athena.ecs.csus.edu/~buckley/CSc191/Faculty_Advisser_Meeting_Template.pdf">pdf</a>
              <a href="http://athena.ecs.csus.edu/~buckley/CSc191/Faculty_Advisser_Meeting_Template.docx">docx</a>
            </v-pane-content>
        </v-pane>
      </v-pane-content>
  </v-pane>
  
  <v-pane>
    <v-pane-header>
      <h3>Team Member Meeting</h3>
    </v-pane-header>
      <v-pane-content>
        This is where a brief description of the template can be found. This should be able to be edited. Items should be able to be added and removed from this list easily. After this description there should be a download link for the document.
        <br>
        <v-pane>
          <v-pane-header>
            <h4>Download</h4>
          </v-pane-header>
            <v-pane-content>
              <a href="http://athena.ecs.csus.edu/~buckley/CSc191/TeamMtgAgenda_template.docx">docx</a>
            </v-pane-content>
        </v-pane>
      </v-pane-content>
  </v-pane>


</v-accordion>