<div class="navBardemoBasicUsage" ng-init="initFirst()">
  <md-toolbar class="md-theme-light">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Template Management</h2>
      <span flex=""></span>
    </div>
  </md-toolbar>

<br>
<li><a ng-click="tbgen()" id="tbgen" name="tbgen" href="">Create Sprint Task Boards <i class="fa fa-object-group" aria-hidden="true"></i></a></li>
<li><a ng-click="tbdel()" id="tbgen" name="tbgen" href="">Delete Sprint Task Boards <i class="fa fa-object-group" aria-hidden="true"></i></a></li>

</div>
