<div class="container bg">
	<h1>Templates</h1>
	<br>
	<h3>CSc 190</h3>
	<div class="container-fluid" style="margin-top:20px">
		<div class="row">
			<div class="col col-12 col-md-auto">
				<div class="panel panel-default panel-table">
					<div class="panel-heading">
						<div class="tr">
							<div class="td">Template</div>
							<div class="td">Download</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="tr">
							<div class="td">
								Project Charter
							</div>
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Poject_Charter_Template.pdf">pdf</a>
								<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Poject_Charter_Template.docx">docx</a>
							</div>
						</div>
						<div class="tr">
							<div class="td">
								Product Backlog Document
							</div>
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Product%20Backlog%20Document.pdf">pdf</a>
							</div>
						</div>
						<div class="tr">
							<div class="td">
								Sprint Task Board 190
							</div>
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Poject_Charter_Template.pdf">pdf</a>
								<a href="http://athena.ecs.csus.edu/~buckley/CSc190/Poject_Charter_Template.docx">docx</a>
							</div>
						</div>
						<div class="tr">
							<div class="td">
								Client Meeting Template
							</div>
							<div class="td">
								<a href="athena.ecs.csus.edu/~buckley/CSc190/Client_Meeting_Template.docx">docx</a>
							</div>
						</div>
						<div class="tr">
							<div class="td">
								Faculty Adviser Meeting
							</div>
							<div class="td">
								<a href="athena.ecs.csus.edu/~buckley/CSc190/Faculty_Advisor_Meeting_Template.pdf">pdf</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<h3>CSc 191</h3>
	<div class="container-fluid" style="margin-top:20px">
		<div class="row">
			<div class="col col-12 col-md-auto">
				<div class="panel panel-default panel-table">
					<div class="panel-heading">
						<div class="tr">
							<div class="td">Template</div>
							<div class="td">Download</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="tr">
							<div class="td">
								Sprint Task Board 191
							</div>
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc191/Team-Task-Boards">Folder</a>
							</div>
						</div>
						<div class="tr">
							<div class="td">
								Product Backlog (Sprint Report)
							</div>
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc191/Product-Backlog.xlsx">xlsx</a>
							</div>
						</div>
						<div class="tr">
							<div class="td">
								Faculty Adviser Meeting
							</div>
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc191/Faculty_Advisser_Meeting_Template.pdf">pdf</a>
								<a href="http://athena.ecs.csus.edu/~buckley/CSc191/Faculty_Advisser_Meeting_Template.docx">docx</a>
							</div>
						</div>
						<div class="tr">
							<div class="td">
								Team Member Meeting
							</div>
							<div class="td">
								<a href="http://athena.ecs.csus.edu/~buckley/CSc191/TeamMtgAgenda_template.docx">docx</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
